@import "~react-toolbox/lib/colors";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
// $dialog-content-padding: 2rem 2.4rem;
// $input-padding: 0.8rem;
// $input-field-padding: 1rem;
// $input-field-font-size: 1.2rem;
// $card-font-size: 1rem;
// $button-squared-min-width: 44;
$preferred-font: 'Lato', sans-serif;

* {
  font-family: 'Lato', sans-serif;
}
